@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", serif;
}

button {
  font-family: "Montserrat", serif;
}

/* #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
/* main css */
/* .infiniteContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 95%;
  margin: auto;
} */

/* ._carousel_1czoc_1 {
  position: relative;
} */

/* ._carousel_1czoc_1 button {
  position: absolute;
} */
/* 
._carousel_1czoc_1 button:first-child {
  left: 10px;
} */

/* ._carousel_1czoc_1 button:last-child {
  right: 10px;
} */
/* 
._carouselImages_1czoc_15 {
  width: 100%;
} */
/* 
._carousel_1czoc_1 img {
  width: 100%;
} */

/* ._carouselButton_1czoc_45 {
  z-index: 9;
} */

/* .arrows button:last-child {
  right: 10px;
}

._carousel_1czoc_1 {
  gap: 0 !important;
} */

/* ._carouselImage_1czoc_15 {
  margin: 0 !important;
} */
/* 
.arrows {
  display: none;
} */
/* 
._carousel_1czoc_1:hover {
  box-shadow: 0px 0px 3px gray;
  border-radius: 6px;

} */

/* ._carousel_1czoc_1:hover .arrows {
  display: block;
} */
/* 
._carousel_1czoc_1 {
  cursor: pointer;
} */
/* 
@media only screen and (max-width:992px) {
  .infiniteContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:600px) {
  .infiniteContainer {
    grid-template-columns: repeat(1, 1fr);
  }
} */

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader_align {
  display: flex;
  justify-content: center;
}
